
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    


    body {
        background-color: #3a5278;
        /* background-color: #dbcccc; */ /* day light */
        /* background-color: #062341; */ /* dark light */
        text-align: center;
        font-family: 'Secular One', sans-serif;
        margin: 0 auto;
    }

    .container {
        max-width: 440px;
        width: 100%;
        margin: 0 auto;
        padding: 15px;
    }

    .title {
        margin-top: 20px;
        margin-bottom: -10px;
    }

/* ================ FORM ================== */

    .form > input {
        border: none;
        /* outline: #142e48; */
        /* background-color: #084247dd; */
        /* background-color: #464677dd; */
        font-size: 18px;
        min-width: 320px;
        height: 45px;
        border-radius: 20px;
        color: #000000;
        background: #3a5278;
        box-shadow: inset 5px 5px 10px #293954,
            inset -5px -5px 10px #4b6b9c;
    }
    .form >input:focus{
        outline: none;
    }
    .form > input:active{
        outline: none;
    }

    .form>.city {
        margin-left: 10px;
    }

    .form>.country {
        margin-left: 10px;
    }

    .form>input[placeholder] {
        padding-left: 15px;
         color: #000000;
    }

    .form>.send {
        margin: 20px;
        border-radius: 20px;
        border: none;
        min-width: 100px;
        height: 45px;
        font-size: 17px;
        font-weight: 600;
        cursor: pointer;
        background: linear-gradient(145deg, #344a6c, #3e5880);
        box-shadow:  5px 5px 10px #293954,
                     -5px -5px 10px #4b6b9c;
    }
    .form > .send:active{
        background: #3a5278;
        box-shadow: inset 5px 5px 10px #293954,
            inset -5px -5px 10px #4b6b9c;
        transition: all 1.5s;
        -webkit-transition: all 1.5s;
        outline: none;
        border: none;
    }

    .form>.send:hover {
        transform: translate(-0.05em, -0.05em);

    }

    .form > label {
        font-size: 25px;
    }


/* ==================== DATE ======================= */

    .date {
        text-align: center;
        width: 100%;
    }

    .date > div {
        display: flex;
        justify-content: center;
    }

    .date>div>h4 {
        padding-left: 8px;
    }

    .date .date_grigorian>span {
        width: 120px;
        height: 45px;
        border: none;
        border-radius: 15px;
        margin: 12px 10px 0px 10px;
        font-family: 'Secular One', sans-serif;
        background: #3a5278;
        box-shadow: inset 5px 5px 10px #293954,
                    inset -5px -5px 10px #4b6b9c;

    }

    .gr_date {
        animation-name: dateAnime;
        animation-duration: 0.3s;
        transform: scaleX(1);
        outline: none;
        border: none;
        padding-top: 10px;

    }

    @keyframes dateAnime {
        from {
            transform: scaleX(8)
        }

        to {
            transform: scaleX(1)
        }
    }

    .date .date_hijri>span {
        width: 120px;
        height: 45px;
        border: none;
        border-radius: 15px;
        margin: 12px 10px 0px 10px;
        font-family: 'Secular One', sans-serif;
        padding-top: 10px;
        background: #3a5278;
        box-shadow: inset 5px 5px 10px #293954,
                    inset -5px -5px 10px #4b6b9c;
    }

    /* ======================== WEATHER ======================= */


    .weather {
        display: flex;
        justify-content: center;
        margin-top: 25px;
        align-items: center;
        /* background-color: #0a1b2d; */
        /* background-color: #33b1d4; */
        border-radius: 20px;
        height: 120px;
        position: relative;
        font-family: 'Secular One', sans-serif;
        background: #3a5278;
        box-shadow: inset 5px 5px 10px #293954,
                    inset -5px -5px 10px #4b6b9c;
    }

    .local_time,
    .weather_city,
    .weather_temp,
    .weather_condition {
        position: absolute;
        border: none;
    }

    .weather_city {
        top: 5%;
        left: 5%;
        color: #121312;
        font-size: 30px;
    }
    .weather_temp{
        top: 5%;
        right: 5%;
        color: #121312;
        font-size: 30px;
    }

    .local_time{
        position: absolute;
        top: 38%;
        left: 5%;
        font-size: 13px;
        color: #121312;
    }
    .weather_condition{
        top: 70%;
        left: 5%;
        color: #121312;
        font-size: 15px;
    }

/* ================ STAR LIGHT ANIMATION ================== */



    .star {
        width: 2px;
        height: 2px;
        border-radius: 50%;
        background-color: #ffffff;
        position: absolute;
        top: 5%;
        left: 60%;
        animation-name: fader;
        animation-duration: 5s;
        animation-iteration-count: infinite;
    }
    .star::before {
        content: '';
        width:2px;
        height:2px;
        border-radius: 50%;
        background-color: #ffffff;
        position: absolute;
        left:60px;
        top:0px;
        animation-name: blinker;
        animation-duration: 5s;
        animation-iteration-count: infinite;
    }
    .star::after {
        content: '';
        width:2px;
        height:2px;
        border-radius: 50%;
        background-color: #ffffff;
        position: absolute;
        left:-100px;
        top:-5px;
        animation-name: blinker;
        animation-duration: 5s;
        animation-iteration-count: infinite;	
    }
    .star.a {
        top:90px;
        left:60%;
    }
    .star.b {
        top:65px;
        left:80%;
    }
    .star.c {
        top:50px;
        left:53%;
    }
    .star.d {
        top:35px;
        left:25%;
    }

    .shooting_star {
        position: absolute;
        top: 5%;
        height: 0.10em;
        width: 1.5em;
        background-color: #ffffff;
        transform: rotate(-30deg);
        right: 1.62em;
        opacity: 0.2;
        animation: shooting-str 3s infinite;
      }
      .shooting_star2 {
        position: absolute;
        height: 0.13em;
        width: 1.5em;
        background-color: #ffffff;
        transform: rotate(-30deg);
        right: 10.62em;
        top: 6%;
        opacity: 0.2;
        animation: shooting-str 4s infinite;
      }
      .shooting_star1 {
        position: absolute;
        height: 0.11em;
        width: 1.5em;
        background-color: #ffffff;
        transform: rotate(-30deg);
        right: 1em;
        top: 8%;
        opacity: 0.2;
        animation: shooting-str 5s infinite;
      }


      @keyframes shooting-str {
        10% {
          transform: rotate(-30deg) translate(-30em, 0.1s);
          opacity: 0.2;
        }
        100% {
          transform: rotate(-30deg) translate(-14em, 0);
          opacity: 0;
        }
      }


    @keyframes fader {
        0% { opacity: 0; }
        15% { opacity: 0; }
        40% { opacity: 1; }
        60% { opacity: 0.4; }
        70% { opacity: 1; }
        80% {  opacity: 0; }
        100% { opacity: 0; }
    } 

    @keyframes blinker {
        0% { opacity: 0; }
        18% { opacity: 0; }
        25% { opacity: 1; }
        40% { opacity: 0; }
        60% { opacity: 1; }
        70% {  opacity: 0; }
        100% { opacity: 0; }	
    }

/* ================ MOON ANIMATION ================== */
      .moon {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        box-shadow: inset 1em -1em #e1e1ea;
        position: absolute;
        top: 31%;
        right: 19%;
        animation: moon 40s ease infinite;
      }

      @keyframes moon {
        0% {transform: translateX(8vw);
            opacity: 0.5;}
        20% {transform: translateX(-40vw);}
        70% {transform: translateX(15);}
      }

/* ================ SUN ANIMATION ======================= */


.sun {
    background: white;
    border-radius: 50%;
    width: 10vmin;
    height: 10vmin;
    position: absolute;
    right: 21em;
    top: 45%;
    transform: rotate(-25deg);
    animation: rise 40s infinite;
    box-shadow: 0 0 10px white;
  }

  @keyframes rise {
    10% {
        transform: rotate(-30deg) translate(40em, 0.1);
        opacity: 0.9;
      }
      50% {
        transform: rotate(25deg) translate(26em, 0);
        opacity: 0.9;
        top: -30%;
      }
      100% {
        transform: rotate(-25deg) translate(-26em 0);
        opacity: 0.9;
      }
  }


/* ================ NAMAZ TIME ======================= */


    #namaz_time{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 13px;
        margin-top: 1rem;
        margin-bottom: 20px;
        padding: 0 1rem 0 1rem;
        color: #121312;
     }
     #namaz_time > h4{
        border: none;
        /* background-color: #089fa1; */
        /* background-color: #152953; */
        /* color: #4ea04f; */
        border-radius: 40px;
        padding: 10px 10px 10px 10px;
        font-size: 16px;
        width: 100px;
        line-height: 1.2;
        text-align: center;
        background: #3a5278;
        box-shadow: inset 5px 5px 10px #293954,
                    inset -5px -5px 10px #4b6b9c;
     }
     #namaz_time > h4 > span{
        color: #03b7b7;
     }
     #namaz_time > h4:hover{
        transform: scale(1.1);
        cursor: pointer;
     }

